@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: rgb(32, 32, 32);
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-container {
    justify-content: center;
}

.switch-container>p {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}

.value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: rgb(189, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(220, 220, 220);
}

.value-newdeath {
    background-color: rgb(0, 0, 0);
}

.value-totalcase {
    background-color: rgb(189, 0, 0);
}

.value-totaldeath {
    background-color: rgb(0, 0, 0);
}

.date-data {
    margin-left: 30%;
    margin-top: 0;
}

.date-text {
    margin-left: 30%;
    margin-bottom: 0;
    margin-top: 50px;
}

@media screen and (max-width: 840px) {
    .content {
        grid-template-columns: 1fr;
    }

    .date-data {
        margin-left: 0;
        margin-top: 0;
    }

    .date-text {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .switch-container>p {
        margin-top: 30px;
        margin-bottom: 10px;
    }

}